# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Airflow
logs/
dags/__pycache__/

# Data & checkpoints
data/
src/**/checkpoints/
src/**/warehouse/
**/checkpoint/
**/checkpoints/

# Docker
*.log
*.tmp
*.swp

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
