# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Airflow
logs/
dags/__pycache__/

# Data & checkpoints
data/
src/**/checkpoints/
src/**/warehouse/
**/checkpoint/
**/checkpoints/

# Docker
*.log
*.tmp
*.swp

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

__pycache__/
*.pyc
__pycache__/
*.pyc
.ipynb_checkpoints/
src/.Trash-*/
src/notebooks/exported_*/
*.parquet
*.crc
_SUCCESS
.DS_Store
